{% extends "layout.html" %}
{% block content %}

<header class="jumbotron text-center">
  <h1 class="display-4">Revolutionize Your Financial Management with VisionX CFO</h1>
  <p class="lead">Advanced Tools for Multi-Currency, Cryptocurrency, and Comprehensive Financial Oversight</p>
  <div class="container-fluid"><a href="#" class="btn btn-primary btn-lg">Get Started</a></div>
  <div><a href="#" class="btn btn-secondary btn-lg">Request a Demo</a></div>

</header>

<!-- Features Section -->
<section class="container my-5">
  <h2 class="text-center mb-4">Key Features</h2>
  <div class="row">
      <div class="col-md-6">
          <div class="card">
              <div class="card-body">
                  <h3 class="card-title">Multi-Currency and Cryptocurrency Transactions</h3>
                  <p class="card-text">Manage global transactions seamlessly with support for various currencies and digital assets.</p>
              </div>
          </div>
      </div>
      <div class="col-md-6">
          <div class="card">
              <div class="card-body">
                  <h3 class="card-title">Project and Cost Center Accounting</h3>
                  <p class="card-text">Track expenses and revenue by projects and cost centers for precise financial insights.</p>
              </div>
          </div>
      </div>
  </div>
</section>

<!-- Solutions Section -->
<section class="container my-5">
  <h2 class="text-center mb-4">Solutions</h2>
  <div class="row">
      <div class="col-md-6">
          <div class="card">
              <div class="card-body">
                  <h3 class="card-title">Financial Services</h3>
                  <p class="card-text">Advanced reporting and compliance features.</p>
              </div>
          </div>
      </div>
      <div class="col-md-6">
          <div class="card">
              <div class="card-body">
                  <h3 class="card-title">Retail and E-commerce</h3>
                  <p class="card-text">Multi-currency support for global transactions.</p>
              </div>
          </div>
      </div>
  </div>
</section>

 
{% endblock content %}